<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer" version="3.4.3" targetFramework="wpa81" />
  <package id="ImageResizer.Mvc" version="3.4.3" targetFramework="wpa81" />
  <package id="ImageResizer.MvcWebConfig" version="3.4.3" targetFramework="wpa81" />
  <package id="ImageResizer.WebConfig" version="3.4.3" targetFramework="wpa81" />
  <package id="JISoft.Rating" version="1.0.3" targetFramework="wpa81" />
  <package id="Microsoft.ApplicationInsights" version="0.14.0-build20632" targetFramework="wpa81" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.14.0-build20632" targetFramework="wpa81" />
  <package id="Microsoft.ApplicationInsights.WindowsPhone" version="0.14.0-build20632" targetFramework="wpa81" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="wpa81" />
  <package id="MyToolkit" version="2.3.30.0" targetFramework="wpa81" />
  <package id="MyToolkit.Extended" version="2.3.30.0" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wpa81" />
  <package id="portable.accord.core" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.accord.imaging" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.accord.machinelearning" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.accord.math" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.accord.statistics" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.aforge.core" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="portable.aforge.imaging" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="portable.aforge.math" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="shim" version="1.0.1.50427" targetFramework="wpa81" />
  <package id="shim.drawing" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="wpa81" />
</packages>